/* Stylesheet - leaflet-lab - Dylan Harwell */

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

#basemap-selector {
    top: -125px;
    left: 35px;
    padding: 3px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

option {
    background-color: white;
}

.leaflet-draw-draw-polyline:hover, .leaflet-draw-draw-circlemarker:hover,
.leaflet-draw-draw-marker:hover, .leaflet-draw-edit-remove:hover,
.leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover,
#basemap-selector:hover {
    background-color: #ccc !important;
}

.edit-control:hover {
    background-color: #ccc !important;
}

#street-view {
    width: 26px;
    height: 26px;
    top: -33px;
    padding: 2px !important;
    background-color: #fff;
}

.button-image {
    max-height: 30px;
    max-width: 30px;
}

.leaflet-control-accordionlegend-button {
    display: block !important;
}

.accordionlegend-section {
    padding-top: 0.2em;
    margin-right: 1em;
    margin-left: 2.3em !important
}

.accordionlegend-section-title {
    display: block !important;
    text-align: justify !important;
}

.accordionlegend-swatch-line {
    margin-top: 0.3em !important;
}

.accordionlegend-swatch-inline {
    height: 10px !important;
    width: 10px !important;
    margin-left: 0.6em !important;
}

.accordionlegend-swatch-circle {
    height: 5px !important;
    width: 5px !important;
    margin-left: 0.7em !important;
    margin-top: 0.2em !important;
}

.accordionlegend-swatch-label {
    padding-left: 10px;
}
